button{
    border:none;
    background:none;
    padding:0;
    cursor: pointer;
}
.profileImage{
    height:50px;
}
.mainImage{
    width: 75%;
    border-radius: 5%;
}
.subImage{
    border-radius: 5%;
    width:50%;
    padding:0;
    margin:0;
}